# PostgreSQL
POSTGRES_USER= your_username
POSTGRES_PASSWORD= your_password
POSTGRES_PORT=...

# Kafka
KAFKA_PORT=...
KAFKA_UI_PORT=...
LOGGING_TOPIC= topic_name

# databases
USER_DB= db_name
ACCOUNT_DB= db_name
TRANSACTION_DB= db_name
LOGGING_DB= db_name

# services
USER_SERVICE_PORT=...
LOGGING_SERVICE_PORT=...
TRANSACTION_SERVICE_PORT=...
BFF_SERVICE_PORT=...
ACCOUNT_SERVICE_PORT=...

# JWT
JWT_SECRET= jwt_secret
JWT_EXPIRY= jwt_expiry